{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="{% static 'users/apps.css' %}" />
<head>
	<h2> Welcome to your profile {{ user.username }}! </h2>
	<h4><a type="button" class="btn btn-link" href="{% url 'index' %}">Home Feed</a></h4>
	<h3> Personal Information: </h3>
	{% if user.profile.gpa  %}
		<h4> GPA: {{ user.profile.gpa }} </h4>
	{% endif %}
	{% if user.profile.role == 1 %}
		<h4> Role: Student </h4>
	{% elif user.profile.role == 2 %}
		<h4> Role: Teacher </h4>
	{% endif %}
	{% if user.profile.year == 1 %}
		<h4> Year: Freshman </h4>
	{% elif user.profile.year == 2 %}
		<h4> Year: Sophomore </h4>
	{% elif user.profile.year == 3 %}
		<h4> Year: Junior </h4>
	{% elif user.profile.year == 4 %}
		<h4> Year: Senior </h4>
	{% endif %}
	{% if user.profile.desc %}
		<h4> Description: {{ user.profile.desc }} </h4>
	{% endif %}
	{% if user.profile.skills %}
		<h4> Skills: {{ user.profile.skills }} </h4>
	{% endif %}
	{% if user.profile.classes %}
		<h4> Classes: {{ user.profile.classes }} </h4>
	{% endif %}
	<a type="button" class="btn btn-link" href="{% url 'edit_profile' %}">Edit Profile</a>
</head>

<body>
	<div>
	{% if exps %}
		<h3> My Experiences: </h3>
		{% for exp in exps %}
		<p>
			<h4> Title: {{ exp.title }} </h4>
		</p>
		<p>
			<h4> Company: {{ exp.company }} </h4>
		</p>
		<p>
			<h4> Start Date: {{ exp.start_date }} </h4>
		</p>
		<p>
			<h4> End Date: {{ exp.end_date }} </h4>
		</p>
		<p>
			<h4> Description: {{ exp.desc }} </h4>
		</p>
		{% endfor %}
	{% endif %}
	<p><a type="button" class="btn btn-link" href="{% url 'new_exp' %}">Add New Experience</a></p>
	</div>
	<div>
	{% if prod %}
		<h3> My Projects: </h3>
		{% for p in prod %}
		<p>
			<h4> Title: {{ p.project_name }} </h4>
		</p>
		<p>
			<h4> Created Date: {{ p.created_dt }} </h4>
		</p>
		<p>
			<h4> Min GPA: {{ p.min_gpa }} </h4>
		</p>
		<p>
			<h4> Min GPA: {{ p.min_gpa }} </h4>
		</p>
		<p>
			<h4> Min Req Year: {{ p.min_year }} </h4>
		</p>
		<p>
			<h4> Min Years of Exp: {{ p.min_exp }} </h4>
		</p>
		<p>
			<h4> Keywords: {{ p.kwords }} </h4>
		</p>
		<p>
			<h4> Req Classes: {{ p.req_classes }} </h4>
		</p>
		{% endfor %}
	{% endif %}
	<p><a type="button" class="btn btn-link" href="{% url 'new_prod' %}">Add New Project</a></p>
	</div>
	<div>
	{% if app %}
		<h4> Applied Projects </h4>
		<div>
			<table id="apps" style="width:100%">
				<thead>
					<tr>
						<th>Project Name</th>
						<th>Applicant</th>
						<th>Score</th>
					</tr>
				</thead>
				<tbody>
					{% for a in app %}
						<tr>
							<td>{{ a.project.project_name }}</td>
							<td>{{ a.name }}</td>
							<td>{{ a.score }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
	</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{% static 'users/dataTable.js' %}"></script>

</body>

</html>