<!DOCTYPE html>
<html lang="en">

<body>

<div>
<h2> Constellation </h2>
<p>
Connect with professors and search for research projects that are the best match for your skills and study.
</p>
<p>
This project seeks to create a website that allows easy communication between students and professors who seek to conduct research together. The website will encompass personnel profiles, research feeds, application templates, and other features similar to LinkedIn.
</p>

<div>
    <a type="button" class="btn btn-link" href="{% url 'new_prod' %}">Create a New Project</a>
</div>

{% for p in projects %}
<div>
	<p>************************************</p>
</div>
<div>
	<p>Creaters Name: {{ p.name }}</p>
</div>
<div>
	<p>Project Name: {{ p.project_name }}</p>
</div>
<div>
	<p>Min GPA: {{ p.min_gpa }}</p>
</div>
<div>
	<p>Min School Year: {{ p.min_year }}</p>
</div>
<div>
	<p>Min Years of Exp: {{ p.min_exp }}</p>
</div>
<div>
	<p>Keywords: {{ p.kwords }}</p>
</div>
<div>
	<p>Required Classes: {{ p.req_classes }}</p>
</div>
<div>
	<p>************************************</p>
</div>
{% endfor %}

</div>
</body>

</html>