{% load static %}
<!DOCTYPE html>
<html lang="en">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
	<link rel="stylesheet" type="text/css" href="{% static 'home/home.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'home/dataTable.css' %}" />
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class='topnav'>
	<a href="">Constellation</a>

	{% if user.is_authenticated %}
    <!-- <p>Welcome, {{ user.get_username }}. Thanks for logging in.</p> -->
    <a href="{% url 'profile' %}">Profile</a>

    <a href="{% url 'logout' %}">Logout</a>
	{% else %}
	    <!-- <p>Welcome. Please log in or create an account.</p> -->
	    <a href="{% url 'login' %}">Login</a>
		<a href="{% url 'new_user' %}">Create Account</a>
    {% endif %}
    <a type="button" class="btn btn-link" href="{% url 'new_prod' %}">Add Project</a>
</div>

<div class='mission'>
	<h3>  Mission:  </h3>
	<p>
	Connect with professors and search for research projects that are the best match for your skills and study.
	</p>
	<p>
	This project seeks to create a website that allows easy communication between students and professors who seek to conduct research together. The website will encompass personnel profiles, research applications, and other features similar to LinkedIn. It will allow students to apply directly to research projects and sorts the applicants for professors.
	</p>
</div>

<div>
	<table id="projects" style="width:100%">
		<thead>
			<tr>
				<th>Creator</th>
				<th>Project Name</th>
				<th>Created Date</th>
				<th>Min GPA</th>
				<th>Min Academic Year</th>
				<th>Min Years of Experience</th>
				<th>Keywords</th>
				<th>Required Classes</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			{% for p in projects %}
				<tr>
					<td>{{ p.name }}</td>
					<td>{{ p.project_name }}</td>
					<td>{{ p.created_dt }}</td>
					<td>{{ p.min_gpa }}</td>
					<td>{{ p.min_year }}</td>
					<td>{{ p.min_exp }}</td>
					<td>{{ p.kwords }}</td>
					<td>{{ p.req_classes }}</td>
					<td><a href="{% url 'apply' name=p.name prod=p.project_name created_dt=p.created_dt %}">Apply</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<footer>
  <p>Created by: Ian Steenstra</p>
  <p>Contact Information: <a href="mailto:steenstra_ian@gmail.com">steenstra_ian@gmail.com</a></p>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{% static 'home/dataTable.js' %}"></script>

</body>
</html>